@import 'longform-styles';
@import 'philly-styles/values';

.text-top {
    width: 100%;
    font-weight: 800;
    letter-spacing: -.0625rem;
    font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B","Arial",sans-serif;
    text-align: center;
}

.text-top-head {
  font-size: 160px;
  text-transform: uppercase;
  margin: 150px auto 50px;
  text-align: centerl
}
.text-top-head h2 {
  text-transform:none;
}
// .text-top-head span {
//   color:#cc0000;
// }





//breakout

.breakout {
  display: flex;
  width: 100%;
}

.breakout-card {
  height: 200px;
  border: 1px solid
}


//table-container
#table-container,
#myTable_wrapper,
#myTable {
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Arial", sans-serif;
    width: 95%;
    margin:0 auto;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #fbece9 !important;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    background-color: #fbece9;
}

table.dataTable th {
    text-transform: capitalize;
}

.officer {
    background-color: #d6e0f5 !important;
}

// media

@media (max-width: 1200px) {
  .text-top-head {
    font-size: 80px;
    text-transform: uppercase;
    margin: 150px auto 50px;
    text-align: centerl
  }
}

@media (max-width: 600px) {

  .mobileHide {
    display:none;
  }

  .text-top-head {
    font-size: 50px;
    text-transform: uppercase;
    margin: 150px auto 50px;
    text-align: centerl
  }
}
