
<hr>
<h3>Exonerated After False Testimony</h3>
<p>Six local cases of men who were convicted of murder and other charges in part because of false testimony, only to be later exonerated. The six spent a combined 107 years in prison.</p>
<div class="cardTL-container">




<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/Baker-testilying.jpg')";></div>
  <div class="text">
    <div class="name">Edward Baker</div>
    <div class="county">Philadelphia</div>
    <div class="charge"><span>Charge: </span>Murder of man who was bound, strangled and stabbed to death with an ice pick in 1973</div>
    <div class="convicted"><span>Convicted: </span>1974</div>
    <div class="sentence"><span>Sentence: </span>Life</div>
    <div class="exonerated"><span>Exonerated: </span>2002</div>
    <div class="testimony"><span>False Testimony: </span>The man who stabbed the victim recanted his testimony that Baker had killed the victim. The killer said he lied to get a shorter sentence for himself.</div>
  </div>
</div>

<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/RS_200x200_20170329_TESTILYING00_cc.jpg')";></div>
  <div class="text">
    <div class="name">Terence McCracken</div>
    <div class="county">Delaware County</div>
    <div class="charge"><span>Charge: </span> Murder of a 71-year-old man during an armed robbery of a deli in 1983</div>
    <div class="convicted"><span>Convicted: </span>1983</div>
    <div class="sentence"><span>Sentence: </span>Life</div>
    <div class="exonerated"><span>Exonerated: </span>1995</div>
    <div class="testimony"><span>False Testimony: </span>The key evidence against McCracken was the testimony of a high school classmate, who recanted and said police bullied him into lying.</div>
  </div>
</div>

<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/Carter-testilying.jpg')";></div>
  <div class="text">
    <div class="name">Raymond Carter</div>
    <div class="county">Philadelphia</div>
    <div class="charge"><span>Charge: </span>Murder in shooting death of a man at the Pike Bar in North Philadelphia in 1986</div>
    <div class="convicted"><span>Convicted: </span>1988</div>
    <div class="sentence"><span>Sentence: </span>Life</div>
    <div class="exonerated"><span>Exonerated: </span>1996</div>
    <div class="testimony"><span>False Testimony: </span>A police officer paid an informant $500 to falsely accuse and testify against Carter. A judge ordered a new trial and prosecutors dismissed the charges.</div>
  </div>
</div>

<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/Peterson-testilying.jpg')";></div>
  <div class="text">
    <div class="name">Larry Peterson</div>
    <div class="county">Burlington County</div>
    <div class="charge"><span>Charge: </span>Rape and murder of a woman found strangled on a dirt road in 1987</div>
    <div class="convicted"><span>Convicted: </span>1989</div>
    <div class="sentence"><span>Sentence: </span>Life</div>
    <div class="exonerated"><span>Exonerated: </span>2006, after DNA tests proved Peterson was not the rapist</div>
    <div class="testimony"><span>False Testimony: </span>Three men told police Peterson had confessed to the crime while they were in a car together on their way to work and an inmate with pending charges said he heard Peterson say he killed the victim. Records showed Peterson did not work on the day coworkers said he confessed to them.</div>
  </div>
</div>

<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/Adams2-testilying.jpg')";></div>
  <div class="text">
    <div class="name">Don Ray Adams</div>
    <div class="county">Philadelphia</div>
    <div class="charge"><span>Charge: </span>Rape and murder of a woman found strangled on a dirt road in 1987</div>
    <div class="convicted"><span>Convicted: </span>1989</div>
    <div class="sentence"><span>Sentence: </span>Life</div>
    <div class="exonerated"><span>Exonerated: </span>2006, after DNA tests proved Peterson was not the rapist</div>
    <div class="testimony"><span>False Testimony: </span>Three men told police Peterson had confessed to the crime while they were in a car together on their way to work and an inmate with pending charges said he heard Peterson say he killed the victim. Records showed Peterson did not work on the day coworkers said he confessed to them.</div>
  </div>
</div>

<div class="cardTL">
  <div class="image" style="background-image:url('http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg')";></div>
  <div class="text">
    <div class="name">Anthony Wright</div>
    <div class="county">Philadelphia</div>
    <div class="charge"><span>Charge: </span>Rape and murder of his 77-year-old Nicetown neighbor in 1991</div>
    <div class="convicted"><span>Convicted: </span>1993</div>
    <div class="sentence"><span>Sentence: </span>Life without parole</div>
    <div class="exonerated"><span>Exonerated: </span>2016, after DNA tests proved Wright was not the rapist</div>
    <div class="testimony"><span>False Testimony: </span>Three of the five witnesses from Wright’s 1993 trial who made statements that Wright had entered the victim’s house recanted their statements at the 2016 retrial. The other two witnesses had died.</div>
  </div>
</div>

</div>
<hr>
<style>
.cardTL-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B","Arial",sans-serif;
  margin: 10px auto;
}
.cardTL {
  width:100%;
  max-width: 300px;
  border: 1px solid #ddd;
  margin: 5px;
  line-height: 1.3;
}

.text{
  padding: 10px;
  font-family: "Gotham Narrow SSm A","Gotham Narrow SSm B","Arial",sans-serif;
}

.image  {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.name {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 3px;
}
.county {
  font-style: italic;
  color:#444;
  padding-bottom: 10px;
}

.text div {
  padding-bottom: 5px;
}

.text div span {
  font-weight: bold;
}

</style>
