<div class="breakout">
    <div class="breakout-card">
        <img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/>
        <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <td class="col-1">Name</td>
                    <td>Anthony Wright</td>
                </tr>
                <tr>
                    <td class="col-1">Location</td>
                    <td>Philadelphia</td>
                </tr>
                <tr>
                    <td class="col-1">Charge</td>
                    <td>Rape and murder of his 77-year-old Nicetown neighbor in 1991.</td>
                </tr>
                <tr>
                    <td class="col-1">Convicted</td>
                    <td>1993</td>
                </tr>
                <tr>
                    <td class="col-1">Sentence</td>
                    <td>Life without parole</td>
                </tr>
                <tr>
                    <td class="col-1">Exonerated</td>
                    <td>2016, after DNA tests proved Wright was not the rapist.</td>
                </tr>
                <tr>
                    <td class="col-1">False testimony</td>
                    <td>Three of the five witnesses from Wright’s 1993 trial who made statements that Wright had entered the victim’s house recanted their statements at the 2016 retrial. The other two witnesses had died.</td>
                </tr>
        </table>
    </div>
    <div class="breakout-card"></div>
    <div class="breakout-card"></div>
    <div class="breakout-card"></div>
    <div class="breakout-card"></div>
    <div class="breakout-card"></div>
</div>


<style>
    .breakout {
        display: flex;
        width: 100%;
    }

    .breakout-card {
        border: 1px solid;
        font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Arial", sans-serif;
    }

    .breakout-card table {
      padding: 5px;
    }

    .breakout-image {
      width: 100%;
      max-width: 200px;
      float: left;
    }

    .breakout .name {
        font-size: 30px;
    }

    .breakout .location {
        font-style: italic;
        color: #aaa;
    }

    .col-1 {
      width: 140px;
      font-weight: bold;
    }
</style>
