<style>
  .breakout-table tbody tr {
    border-bottom: 1px solid #333;
  }
</style>



<table class="breakout-table">
    <tbody>
        <tr>
            <td> </td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/></td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_TESTILYING00_cc.jpg"/></td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/></td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/></td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/></td>
            <td><img class="breakout-image" src="http://media.philly.com/images/RS_200x200_20170329_PWRIGHT24_g_315155404.jpg"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Edward Baker</td>
            <td>Terence McCracken</td>
            <td>Raymond Carter</td>
            <td>Larry Peterson</td>
            <td>Don Ray Adams</td>
            <td>Anthony Wright</td>
        </tr>
        <tr>
            <td>Town</td>
            <td>Philadelphia</td>
            <td>Delaware County</td>
            <td>Philadelphia</td>
            <td>Burlington County</td>
            <td>Philadelphia</td>
            <td>Philadelphia</td>
        </tr>
        <tr>
            <td>Charge</td>
            <td>Murder of man who was bound, strangled and stabbed to death with an ice pick in 1973</td>
            <td> Murder of a 71-year-old man during an armed robbery of a deli in 1983</td>
            <td>Murder in shooting death of a man at the Pike Bar in North Philadelphia in 1986</td>
            <td>Rape and murder of a woman found strangled on a dirt road in 1987</td>
            <td>Murder of two men during a drug deal in 1990</td>
            <td>Rape and murder of his 77-year-old Nicetown neighbor in 1991</td>
        </tr>
        <tr>
            <td>Convicted</td>
            <td>1974</td>
            <td>1983</td>
            <td>1988</td>
            <td>1989</td>
            <td>1992</td>
            <td>1993</td>
        </tr>
        <tr>
            <td>Sentence</td>
            <td>Life</td>
            <td>Life</td>
            <td>Life</td>
            <td>Life</td>
            <td>Life</td>
            <td>Life without parole</td>
        </tr>
        <tr>
            <td>Exonerated</td>
            <td>2002</td>
            <td>1995</td>
            <td>1996</td>
            <td>2006, after DNA tests proved Peterson was not the rapist</td>
            <td>2011</td>
            <td>2016, after DNA tests proved Wright was not the rapist</td>
        </tr>
        <tr>
            <td>False testimony</td>
            <td>The man who stabbed the victim recanted his testimony that Baker had killed the victim. The killer said he lied to get a shorter sentence for himself.</td>
            <td>The key evidence against McCracken was the testimony of a high school classmate, who recanted and said police bullied him into lying.</td>
            <td>A police officer paid an informant $500 to falsely accuse and testify against Carter. A judge ordered a new trial and prosecutors dismissed the charges.</td>
            <td>Three men told police Peterson had confessed to the crime while they were in a car together on their way to work and an inmate with pending charges said he heard Peterson say he killed the victim. Records showed Peterson did not work on the
                day coworkers said he confessed to them.</td>
            <td>The key witness against him, a convicted felon and crack cocaine addict, told Adams’ lawyer in 2007 she had turned her life around and confessed to lying at trial. She said police pressured her to testify against Adams. A jury acquitted him
                at a new trial.</td>
            <td>Three of the five witnesses from Wright’s 1993 trial who made statements that Wright had entered the victim’s house recanted their statements at the 2016 retrial. The other two witnesses had died.</td>
        </tr>
    </tbody>
</table>
