<script src="http://www.philly.com/includes/e32121b31e345f561b84372c2bf06282/jquery-2.0.0b2.js" type="text/javascript"></script>
<script src="http://media.philly.com/storage/inquirer/Longform/Bootstrap/js/bootstrap.min.js"></script>



<!--removeIf(build)-->
<script src="http://media.philly.com/storage/inquirer/script/LongformBootstrapCarouselE.js"></script>
<script src="http://media.philly.com/storage/inquirer/CustomShareTools/CustomShareToolsD.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#recircSpecials').load('/philly/news/special_packages/390291181.html  #morereports');
    });
</script>
<!--endRemoveIf(build)-->
