<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
    <h1 class="overlayText">'Testilying': When witnesses have a change or heart after convictions</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        This is a photo caption.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            The criminal justice system relies on the truth.  But people lie -- to stay out of jail or to get out of jail or to curry favor with the police, who also sometimes lie, too. It’s so common in court, officials have a name for
        </div>
        <div class="byline">
            Michaelle Bond / Staff Writer, <a href="mailto:mbond@phillynews.com">mbond@phillynews.com</a>, Emilie Lounsberry, <a href="mailto:lounsber@tcnj.edu">lounsber@tcnj.edu</a>

            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Sunday, April 2, 2017</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">I</span><p>t was a giant step for Deirdre Jones to take the witness stand that day in 2012. She had returned to a Philadelphia courtroom to testify about a 1991 murder near Rittenhouse Square. Her first time on the stand, she said, haunted her for almost two decades.</p>
<p>Jones had been the star witness in the 1993 trial of Chester Hollman III, charged with killing a University of Pennsylvania student. Hollman, a 21-year-old with no criminal history, had been picked up minutes after the murder and blocks from the scene.</p>
<div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
    <div class="adUnit" alignment="true">
        <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-mrec-21');
                    });
                }]);
                // ]]>
            </script>
        </div>
    </div>
</div>
<p>Detectives found no physical evidence tying him to the crime. So Jones&rsquo; testimony -- that she had been riding with Hollman and another man in an SUV when they got out and she heard a gunshot -- almost certainly cemented his conviction and life prison sentence.</p>
<p>But when Hollman&rsquo;s appeals lawyers called her back to the witness stand 19 years later, Jones offered a different account.</p>
<p>Choking up, Jones swore she had lied at trial, that she and Hollman had been driving alone that night and he had no role in the killing of the victim, Tae-Jung Ho. Jones said detectives coerced her into implicating Hollman.</p>
<p>Helping to lock him up, she said, stoked years of depression.</p>
{% set quote = ["I just thought it was time for me to come out and to tell the truth. Maybe some of my depression would go away.", "Deirdre Jones, witness in the 1993 trial of Chester Hollman III"] %} {% include "partials/left-quote.html" %}
<p>&ldquo;I just thought it was time for me to come out and to tell the truth,&rdquo; Jones, then a 40-year-old hospital worker, testified in January 2012. &ldquo;Maybe some of my depression would go away.&rdquo;</p>
<p>The case illustrates a stark reality of the criminal justice system: People lie. They lie to stay out of jail, to get out of jail, to curry favor with cops. And police sometimes lie, too. It&rsquo;s so common, so understood within the court system, that regulars have a name for it: Testilying &ndash;when officers lie to buttress a weak case, or when a defendant lies in hopes of winning an acquittal.</p>
<p>In the end, Philadelphia Common Pleas Judge Gwendolyn N. Bright followed a long line of judges who reject witness recantations as unreliable. She did not believe Jones&rsquo; new testimony and denied Hollman&rsquo;s motion to reopen his case.</p>
<p>Jones wasn&rsquo;t the first witness to claim to have lied at the trial. A decade before she came forward, Andre Dawkins &ndash; the only other person to place Hollman at the murder scene &ndash; swore police also had pressured him to falsely implicate Hollman.</p>
<p>The twists and turns of the Hollman case show how difficult it is to figure out who is lying &ndash; and when.</p>
<p>If Jones testified truthfully in 1993 but lied on the stand five years ago, she risked a perjury charge. If her more recent testimony was true, then David Baker, the former Philadelphia detective who interviewed her after the murder, lied in 2012 when, under oath, he flatly denied her accusations.</p>
<p>Untangling who is lying in criminal cases can be &ldquo;absolutely daunting,&rdquo; said lawyer Richard L. Scheff, who recalled wrestling with the issue when he was a federal prosecutor. "There can be any number of reasons why people change their statements."</p>
<p>Scientific advances in crime solving &ndash; especially DNA testing &ndash; have freed the wrongfully convicted and proven guilt. Almost as a rule, experts say, courts don&rsquo;t like to reopen old cases without compelling scientific evidence.</p>
<p>That is especially problematic in prosecutions built on the testimony of witnesses. Like Hollman&rsquo;s.</p>
<p>The Philadelphia District Attorney&rsquo;s Office declined to discuss Hollman&rsquo;s case. His current appeals lawyer, Alan Tauber, said he plans to ask prosecutors for a new review.</p>
<p>Jennifer Creed Selber, former chief of the office&rsquo;s homicide unit, acknowledged witness recantations are a &ldquo;pervasive&rdquo; problem. She believes witnesses usually recant because they fear retaliation from defendants.</p>
{% set quote = ["If we attempted to prosecute every witness that perjures themselves, it would be a completely unworkable and impossible situation.", "Jennifer Creed Selber, former chief of the District Attorney's Office’s homicide unit"] %} {% include "partials/left-quote.html" %}
<p>&ldquo;If we attempted to prosecute every witness that perjures themselves,&rdquo; said Selber, &ldquo;it would be a completely unworkable and impossible situation.&rdquo;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>If the verdict in the Hollman case is accurate, one participant has been lying consistently since 1991: Hollman has never stopped saying he is innocent.</p>
<h4>Pressure on police, witnesses</h4>
<p>Five years ago, the University of Michigan Law School and the Center on Wrongful Convictions at Northwestern University's law school started a database of criminal exonerations since 1989. The National Registry of Exonerations has catalogued over 2,000 cases.</p>
<p>DNA evidence spurred many, but the growing number of exonerations has led to a &ldquo;profound change&rdquo; in the perception of convictions, said Samuel Gross, senior editor of the registry.</p>
<p>&ldquo;What the DNA cases showed everybody,&rdquo; he said, &ldquo;is that a lot of criminal convictions that no one had thought to think about were wrong.&rdquo;</p>
<p>More than half of his registry&rsquo;s cases involve perjury and/or false accusations.</p>
<p>Much lying stems from &ldquo;widespread misconduct&rdquo; by police and prosecutors desperate to solve crimes, researchers said. &ldquo;Witnesses are pressured, threatened, subjected to violence, offered secret deals such as reduced charges in the case at hand or for other crimes, or otherwise coerced or persuaded to falsely accuse the defendant,&rdquo; a 2013 registry report concluded.</p>
<p>James McCloskey, the founder of Centurion Ministries, a New Jersey-based organization that has helped exonerate more than 50 prisoners since 1980, said about three dozen witnesses have recanted their testimony in Centurion cases.</p>
<p>&ldquo;They want to reconcile themselves, really help right a terrible wrong,&rdquo; McCloskey said, but they fear getting in trouble. It can take years to get a witness to publicly acknowledge the lie.</p>
<p>Even then, exonerations based on trial witnesses who admit they lied routinely take years.</p>
<p>Fernando Bermudez spent nearly two decades in a New York prison before being cleared of the 1991 murder of a teen in Greenwich Village, despite recantations from all five eyewitnesses against him two years after the shooting. A judge later decided to throw out the charges because of the recantations and police misconduct.</p>
<p>Jose Medina, who is serving life for the 1991 killing of a Philadelphia police officer&rsquo;s brother, is waiting for the new trial he was granted in 2011 after a prosecution witness admitted lying under oath.&nbsp;</p>
<p>Don Ray Adams, a Philadelphia barber, was exonerated in 2011&mdash;21 years into a life sentence for murder &ndash; after the key witness against him recanted. A convicted felon and crack cocaine addict who said she had turned her life around contacted Adams&rsquo; lawyer in 2007. She said police pressured her to lie and say Adams was the man who shot two others during a drug deal. Adams won a new trial. A jury acquitted him.</p>
<p>Clarence Brandley spent 10 years in a Texas prison for the rape and murder of a high school cheerleader before witnesses who implicated him confessed they made it all up. The key recantation came days before Brandley was scheduled to be executed.</p>
<p>The year of that double murder, 1990, Philadelphia recorded 500 homicides, a high mark in at least a half-century.</p>
<p>Experts say rising crime can spur a spike in witness intimidation.</p>
<p>If there is a &ldquo;significant uptick in crime,&rdquo; said Christopher Slobogin, a Vanderbilt University criminal law professor, &ldquo;there&rsquo;s going to be more pressure on police to put pressure on witnesses.&rdquo;</p>
<p>The year Chester Hollman was arrested, Philadelphia logged 444 homicides. By late August 1991, detectives were scrambling to solve two or three killings a day.</p>
<p>Tae-Jung Ho was victim 301.</p>
<h4>The crime</h4>
<p>Ho, a 24-year-old South Korean, was enrolled in an English program at the University of Pennsylvania. He was walking on 22nd Street, between Chestnut and Walnut Streets, at 1 a.m. on Tuesday, Aug. 20 when two men approached. One held him down while the other shot him in the chest. It is unclear whether anything was taken. Police found $99 in Ho&rsquo;s wallet.</p>
<p>Junko Nihei, a 20-year-old Pennsylvania Ballet student walking with Ho, said the shooter wore a blue hooded shirt or jacket and his accomplice &ndash; who prosecutors alleged was Hollman &ndash; wore a dark baseball cap and &ldquo;perhaps reddish color&rdquo; shorts.</p>
<p>The 911 calls began at 1:01 a.m.</p>
<p>One witness said she saw three black men and one brown-skinned woman in or near a van or Jeep. Another said he saw two black young teenagers and a white Chevrolet Blazer with a female with a &ldquo;medium complexion&rdquo; at the wheel.</p>
<p>Taxi driver John Henderson said he was driving on 22nd Street when he saw a flash, then a man in a blue hoodie get into a white vehicle on Chestnut Street. Henderson told police four people were inside the SUV &ndash; and he followed the vehicle for about seven blocks until he lost it. He gave police a partial tag: YZA.</p>
<p>At 1:05 a.m., police pulled over a white Chevrolet Blazer with a license plate starting with YZA near 22nd and Locust, about six blocks from the shooting. Hollman was driving; Jones sat in the passenger seat.</p>
<p>Hollman was wearing a black baseball cap and aqua pants, according to trial testimony. Police said they saw red spots on his pants that looked like blood.</p>
<h4>Dawkins</h4>
<p>Andre Dawkins had been hanging out at a gas station when a shot rang out a block away. He claimed to have seen Hollman at the scene.</p>
<p>&ldquo;No ifs, ands or buts. I can never forget his face after something like that,&rdquo; Dawkins testified at trial.</p>
<p>But a decade later, after a private investigator hired by Hollman&rsquo;s appeals lawyers tracked him down, Dawkins said his testimony had been a lie. He said he had an outstanding burglary charge back in 1991 and police, including Det. Raleigh Witcher, threatened him.</p>
<p>&ldquo;They told me if I did not say it was him, I was going to jail,&rdquo; Dawkins said in an interview with the Inquirer. &ldquo;I did what I had to do to survive.&rdquo;</p>
<p>(Witcher is now dead.)</p>
<p>Back then, Dawkins said, he was too high on drugs to recall what he saw. His role in sending Hollman to prison for life is one of his biggest regrets.</p>
<p>&ldquo;There&rsquo;s no way possible that I could go to my grave knowing that I put a man in jail and I don&rsquo;t know he did a crime,&rdquo; he said.</p>
<p>Dawkins&rsquo; testimony had already come under scrutiny. Three years before saying he made it all up, a federal appeals court considering an appeal from Hollman had concluded Dawkins had lied at the trial -- not about the defendant but about his long criminal record.&nbsp; But the three-judge panel said it wasn&rsquo;t enough to reopen the case, pointing to other damning proof of Hollman&rsquo;s guilt.&nbsp;</p>
<p>"Compelling evidence," Judge Marjorie Rendell wrote in the opinion, "was provided by Deirdre Jones.&rdquo;</p>
<h4>Jones</h4>
<p>Then 20, Jones was living in the same North Philadelphia apartment complex as Hollman in August 1991. She was bored when she saw him around midnight; Hollman asked if she wanted to take a ride.</p>
<p>They drove into Center City in a rented white Blazer. She said she didn&rsquo;t have her glasses and wasn&rsquo;t paying attention to where they had been driving -- until police pulled them over.</p>
<p>The account she later gave at trial mirrored the statement she signed at police headquarters: Jones told jurors she had been in the vehicle with Hollman and another man and woman, strangers to her. Hollman and the man said they were going to &ldquo;get somebody,&rdquo; then left the vehicle, Jones testified. She heard a gunshot, then they returned and sped off. The other woman and man got out soon after.</p>
<p>Jones now says that testimony was a lie.</p>
<p>Both in the 2012 hearing and in interviews with the Inquirer, Jones said she had been scared that night; she had never before been in custody. She kept telling detectives she didn&rsquo;t know anything about a shooting, but they accused her of lying, she said, and told her Hollman had confessed &ndash; and she had better cooperate.</p>
<p>&ldquo;They said if I didn&rsquo;t, I was going to get locked up, they was going to charge me also,&rdquo; Jones told the Inquirer.</p>
<p>Jones said she became confused and frightened &ndash;&nbsp; especially when she was told Hollman had mob ties &ndash;- so she agreed to sign the statement Det. David Baker typed.</p>
<p>&ldquo;I was terrified,&rdquo; she said.</p>
<p>In fact, Hollman, who at the time worked as an armored car driver, had not confessed, and no evidence linked him to any violent group. (Courts have held that police may lie to suspects and potential witnesses in solving crimes.)</p>
<p>Jones signed her nine-page statement by 7 a.m., about four and a half hours after Baker began questioning her. She said police also told her she should be concerned for her safety. So hours later, Jones grabbed her two small children, boarded a plane and relocated to her grandmother&rsquo;s home in Georgia, where she would remain, in fear, for the next few years. &nbsp;She said authorities paid to fly her back for Hollman&rsquo;s preliminary hearing and trial.</p>
<p>When she testified in 2012, Jones said she felt bad about lying decades ago and thought more than once about publicly recanting -- but had been frightened she would be charged.</p>
<p>&ldquo;Chester was in (prison) all that long time, because I was scared to come forward and say anything,&rdquo; Jones testified. &ldquo;If it was &ndash; if it was now, it would be different. Chester wouldn&rsquo;t be in there today, because I would not be afraid to say we was not there.&rdquo;</p>
<p>Baker, the detective, disputed that account. Taking the witness stand after her in 2012, he essentially told Judge Bright that Jones had told the truth in 1993 but was lying to her&ndash; both about that August night and her accusations of police coercion.</p>
<p>&ldquo;I believe she at first said she didn't know what I was talking about, and then she admitted that she was only in the car, and then she said she was looking out for police,&rdquo; Baker testified. &ldquo;I don&rsquo;t think she really thought she was involved until she thought about it.&rdquo;</p>
<p>Baker retired that year. In a phone interview last month from his Florida home, Baker insisted he didn&rsquo;t lie to Jones in 1991 or to the judge two decades later. He said other detectives may have told Jones that Hollman was dangerous or had confessed, but that his role was just to take down the statement as she recited it, which he did.</p>
<p>&ldquo;Is that true or not? I don&rsquo;t know," Baker told the Inquirer. &ldquo;The job is to get to the truth as close as you can.&rdquo;</p>
<p>Baker is one of 11 former homicide detectives named as defendants in a federal civil-rights lawsuit filed in September. They are accused of pressuring suspects to confess and intimidating witnesses to implicate suspects.</p>
<p>Baker bristled at his inclusion in the lawsuit and denied any wrongdoing.</p>
<h4>Hollman</h4>
<p>Hollman, now 47, is one of more than 5,400 people serving life sentences in Pennsylvania.</p>
<p>In an interview at a state prison near Wilkes-Barre, he repeated what he has maintained since 1991 &ndash; that he had nothing to do with the shooting.</p>
<p>Hollman said he and Jones were headed to Southwest Philadelphia to visit one of his friends. They drove down Broad Street and turned onto Lombard Street when the police pulled him over.</p>
<p>Hollman said he's never been angry with Jones because he understands that she was subjected to pressure from police. "It was never anger," he said. "Just disbelief and hurt."</p>
<p>Hollman said his first lawyer, A. Charles Peruto Sr., a legendary defense lawyer who died in 2013, advised him to accept a plea offer for a five-to-10-year sentence, but Hollman insisted on a trial. He said he always believed police and prosecutors would eventually realize he had been in the wrong place at the wrong time.</p>
<p>The lawyer who represented him during the seven-day trial, Gerald Stein, highlighted the lack of physical evidence. No murder weapon was found. Even the red stains on Hollman&rsquo;s pants were proven not to be blood, tests showed.</p>
<p>Stein reminded jurors Dawkins also said a photo of a woman who had rented another white Blazer with a YZA plate looked like the woman he saw driving the SUV at the murder scene - and that vehicle was returned at around 5 a.m. the day after the shooting to the same rental agency.</p>
<p>It&rsquo;s unclear if detectives ever questioned the woman who rented that vehicle. Prosecutors didn&rsquo;t call any such witness at the trial.</p>
<p>Hollman said he wanted to testify, but Stein advised against it because of the likelihood of an aggressive cross-examination by Roger King, the late prosecutor whose courtroom skills were renowned. (Stein has declined to comment.)</p>
<div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
    <div class="adUnit" alignment="true">
        <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-mrec-22');
                    });
                }]);
                // ]]>
            </script>
        </div>
    </div>
</div>
<p>Hollman said he was crushed by the guilty verdict &ndash; one carrying a mandatory life term -- especially when he turned around and saw his mother&rsquo;s pained expression. She died years later, and he could not attend her funeral.</p>
<p>He said he is buoyed by the love and support of his father and sister, who have always believed he is telling the truth.</p>
<p>Years after his conviction, he said, a prosecutor and Witcher visited him in prison, offering to help him in exchange for the name of the shooter. Hollman said he wished he could help, but he had no idea who the shooter was.</p>
<p>His current lawyer, Tauber, verified the prison visit.</p>
<p>Hollman said he spends his days watching TV, working in the prison gym and clinging to a one-day-at-a-time attitude, hoping he will eventually be released.</p>
<p>&ldquo;I just never believed,&rdquo; he said, &ldquo;it was going to be forever.&rdquo;</p>
        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div>
